In [1]:
import requests
import json
import re

In [9]:
'''
网址：https://voice.baidu.com/act/newpneumonia/newpneumonia/?from=osari_aladin_banner#tab4
可以爬取历史数据
在Network的JS中，有国内和世界的历史数据，可以爬取作为数据分析和数据可视化用的
'''

headers = {
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36'
}
#下面的网址是变化的，怎么自动获取现在尚不清楚
request_url = 'https://voice.baidu.com/newpneumonia/get?target=trend&isCaseIn=1&stage=publish'
'''
针对jsonp的修改的方法：先转为字符串，然后把那个时间戳去掉，最后把圆括号去掉，使其符合json格式
'''
text = requests.get(request_url, headers=headers)
text = text.text
# print(text)
results = json.loads(text)

In [11]:
Date = results['data'][209]['trend']['updateDate']

In [12]:
import pandas as pd

In [13]:
DatePd = pd.DataFrame(Date, columns=['country'])

In [ ]:
Country = []
for name in results['data']:
    Country.append(name['name'])
Country

In [15]:
dayNum = len(Date)

In [16]:
FinalDataFrame = DatePd

In [17]:
for country in results['data']:
    dayStart = dayNum - len(country['trend']['list'][0]['data'])
    totalCasesToday = []
    for _ in range(dayStart):
        totalCasesToday.append(0)
    for case in country['trend']['list'][0]['data']:
        totalCasesToday.append(case)
    countryCasesFrame = pd.DataFrame(totalCasesToday)
    countryCasesFrame.columns = [country['name']]
    FinalDataFrame = pd.concat([FinalDataFrame, countryCasesFrame], axis=1)

In [18]:
FinalData = pd.DataFrame(FinalDataFrame.values.T, index=FinalDataFrame.columns, columns=FinalDataFrame.index)
FinalData

,0,1,2,3,4,5,6,7,8,9,...,305,306,307,308,309,310,311,312,313,314
country,2.21,2.22,2.23,2.24,2.25,2.26,2.27,2.28,2.29,3.1,...,12.22,12.23,12.24,12.25,12.26,12.27,12.28,12.29,12.30,12.31
萨摩亚独立国,0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
瓦努阿图共和国,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
马尔维纳斯群岛,0,0,0,0,0,0,0,0,0,0,...,23,29,29,29,29,29,29,29,29,29
马绍尔群岛,0,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
澳大利亚,0,0,0,0,0,0,0,0,0,0,...,28219,28237,28262,28273,28297,28337,28348,28350,28381,28405
马来西亚,0,0,0,0,0,0,0,0,0,0,...,97389,98737,100318,101565,103900,106690,106690,108615,110485,113010
日本,93,105,132,144,156,164,186,210,230,239,...,203717,206984,210723,214553,218430,223766,223771,227375,231223,235751
新加坡,0,0,0,0,0,0,0,0,0,0,...,58461,58482,58495,58509,58519,58529,58529,58542,58569,58599
泰国,0,0,0,0,0,0,0,0,0,0,...,5716,5762,5829,5910,6020,6285,6285,6440,6690,6884

In [19]:
import json

In [20]:
with open('国家与洲.json', 'r', encoding='utf-8') as f:
    json_data = json.load(f)

In [21]:
from collections import defaultdict

In [22]:
dict = defaultdict(int)

In [23]:
for name in json_data:
    dict[name['country_cname']] = name['continent_cname']

In [24]:
Continent = ['Continent']
for country in Country:
    if dict[country] == 0:
        Continent.append('未确定')
    else:
        Continent.append(dict[country])
Continent

['Continent',
 '未确定',
 '未确定',
 '未确定',
 '大洋洲',
 '未确定',
 '大洋洲',
 '非洲',
 '非洲',
 '亚洲',
 '未确定',
 '未确定',
 '亚洲',
 '未确定',
 '非洲',
 '非洲',
 '非洲',
 '非洲',
 '非洲',
 '非洲',
 '北美洲',
 '北美洲',
 '北美洲',
 '北美洲',
 '北美洲',
 '北美洲',
 '非洲',
 '非洲',
 '非洲',
 '亚洲',
 '北美洲',
 '亚洲',
 '北美洲',
 '非洲',
 '亚洲',
 '欧洲',
 '大洋洲',
 '非洲',
 '非洲',
 '非洲',
 '亚洲',
 '大洋洲',
 '非洲',
 '非洲',
 '非洲',
 '未确定',
 '北美洲',
 '非洲',
 '非洲',
 '北美洲',
 '北美洲',
 '未确定',
 '非洲',
 '非洲',
 '非洲',
 '亚洲',
 '北美洲',
 '欧洲',
 '非洲',
 '未确定',
 '非洲',
 '非洲',
 '非洲',
 '非洲',
 '未确定',
 '非洲',
 '北美洲',
 '亚洲',
 '北美洲',
 '北美洲',
 '未确定',
 '未确定',
 '非洲',
 '非洲',
 '非洲',
 '非洲',
 '非洲',
 '非洲',
 '北美洲',
 '未确定',
 '南美洲',
 '北美洲',
 '北美洲',
 '北美洲',
 '北美洲',
 '北美洲',
 '南美洲',
 '南美洲',
 '非洲',
 '非洲',
 '非洲',
 '亚洲',
 '非洲',
 '北美洲',
 '非洲',
 '非洲',
 '大洋洲',
 '北美洲',
 '未确定',
 '非洲',
 '北美洲',
 '南美洲',
 '未确定',
 '北美洲',
 '北美洲',
 '亚洲',
 '未确定',
 '北美洲',
 '亚洲',
 '非洲',
 '亚洲',
 '亚洲',
 '北美洲',
 '南美洲',
 '欧洲',
 '欧洲',
 '未确定',
 '欧洲',
 '欧洲',
 '亚洲',
 '南美洲',
 '欧洲',
 '北美洲',
 '南美洲',
 '非洲',
 '南美洲',
 '欧洲',
 '非洲',
 '欧洲',
 '欧洲',
 '欧洲',
 '亚洲',
 '欧洲',
 '亚洲',
 '非洲',
 '欧洲',
 '欧洲',
 '欧洲',
 '欧洲',
 '亚洲',
 '南美洲',
 '欧洲',
 '亚洲',
 '非洲',
 '非洲',
 '欧洲',
 '非洲',
 '亚洲',
 '欧洲',
 '欧洲',
 '未确定',
 '欧洲',
 '北美洲',
 '亚洲',
 '欧洲',
 '欧洲',
 '南美洲',
 '亚洲',
 '欧洲',
 '欧洲',
 '欧洲',
 '北美洲',
 '亚洲',
 '欧洲',
 '大洋洲',
 '欧洲',
 '非洲',
 '非洲',
 '欧洲',
 '欧洲',
 '欧洲',
 '欧洲',
 '未确定',
 '欧洲',
 '亚洲',
 '亚洲',
 '欧洲',
 '非洲',
 '欧洲',
 '欧洲',
 '欧洲',
 '亚洲',
 '亚洲',
 '亚洲',
 '亚洲',
 '亚洲',
 '亚洲',
 '亚洲',
 '亚洲',
 '南美洲',
 '欧洲',
 '欧洲',
 '欧洲',
 '欧洲',
 '欧洲',
 '欧洲',
 '亚洲',
 '亚洲',
 '欧洲',
 '亚洲',
 '亚洲',
 '亚洲',
 '北美洲',
 '欧洲',
 '亚洲',
 '欧洲',
 '北美洲',
 '亚洲',
 '大洋洲',
 '亚洲',
 '亚洲',
 '亚洲',
 '亚洲']

In [25]:
# dataContinent = pd.DataFrame(Continent, columns=['Continent'])
col_name = FinalData.columns.tolist()
col_name.insert(0, 'Continent')
FinalData = FinalData.reindex(columns=col_name)
FinalData['Continent'] = Continent

In [26]:
FinalData

,Continent,0,1,2,3,4,5,6,7,8,...,305,306,307,308,309,310,311,312,313,314
country,Continent,2.21,2.22,2.23,2.24,2.25,2.26,2.27,2.28,2.29,...,12.22,12.23,12.24,12.25,12.26,12.27,12.28,12.29,12.30,12.31
萨摩亚独立国,未确定,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
瓦努阿图共和国,未确定,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
马尔维纳斯群岛,未确定,0,0,0,0,0,0,0,0,0,...,23,29,29,29,29,29,29,29,29,29
马绍尔群岛,大洋洲,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
澳大利亚,大洋洲,0,0,0,0,0,0,0,0,0,...,28219,28237,28262,28273,28297,28337,28348,28350,28381,28405
马来西亚,亚洲,0,0,0,0,0,0,0,0,0,...,97389,98737,100318,101565,103900,106690,106690,108615,110485,113010
日本,亚洲,93,105,132,144,156,164,186,210,230,...,203717,206984,210723,214553,218430,223766,223771,227375,231223,235751
新加坡,亚洲,0,0,0,0,0,0,0,0,0,...,58461,58482,58495,58509,58519,58529,58529,58542,58569,58599
泰国,亚洲,0,0,0,0,0,0,0,0,0,...,5716,5762,5829,5910,6020,6285,6285,6440,6690,6884

In [27]:
FinalData.to_csv('WorldCasesCovid19.csv', header=False)

### 这个程序现有的问题是如何把国内的数据添加到这儿，思路是把各省的数据统计起来

### 接下来可以利用现有的可视化工具，比如Flourish等，可以快速得到动态可视化结果，也可以直接编写程序